@use '../abs/var.scss'as *;

.pri-p {
    font-size: var(--fs-400);
    font-weight: 500;
    color: var(--clr-400);
    font-family: $font-fam-sec;
}

.sec-p {
    font-size: var(--fs-400);
    font-weight: 400;
    color: var(--clr-500);
    font-family: $font-fam-sec;
}

.tri-p {
    font-size: var(--fs-500);
    font-weight: 300;
    color: var(--clr-500);
    font-family: $font-fam-sec;
}